.header{ 
    background-color: #EEEEEE;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 72px
}
.nav{
    list-style: none;
    display: flex;
    gap: 70px;
}
.burger{
    display: none;
}
@media (max-width:775px) {
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
}
@media (max-width:450px) {
    .header{
        padding: 12px 40px;
    }
}