.nav{
    list-style: none;
    display: flex;
    gap: 70px;
}
.burger{
    display: none;
}
@media (max-width:775px) {
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
}